.app {
    margin: 0 auto;
    width: 1000px;
    display: block;
    padding-bottom: 100px;
}

.timetable {
    margin: 0 auto;
    width: 250px;
}

.timetable > header {
    width: 170px;
    margin: 0 auto;
}

.progress {
    width: 30px;
    margin: 0 10px;
    display: inline-block;
}

.page_link {
    display: inline-block;
    margin: 0 auto;
}

.display_box {
    width: 100%;
}

nav > ul { text-align: center; }
nav > ul li { display: inline-block; }
li+li:before {
  content: '| ';
}
