[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robobrowser = "*"
betamax = "*"
lxml = "*"
flask = "*"
graphene = "*"
flask_cors = "*"
flask_graphql = "*"
pony = "*"
passlib = "*"
flask_jwt = "*"
arrow = "*"
flask-login = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
scrypt = "*"
gunicorn = "*"
"psycopg2" = "*"
pyyaml = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
